@import "tw-animate-css";
@import "shadcn-svelte/tailwind.css";
@import "@fontsource-variable/inter";

:root {
	--bg-dark: hsl(0 0% 0%);
	--bg: hsl(0 0% 5%);
	--bg-light: hsl(0 0% 10%);
	--text: hsl(0 0% 95%);
	--text-muted: hsl(0 0% 70%);
	--border: oklch(0.922 0 0);
	--accent: oklch(0.97 0 0);
	--accent-light: #a78bfa;
	--accent-dark: #772ce8;
	--border-radius: 3px;
	--border-radius-card: 8px;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.496 0.265 301.924);
	--primary-foreground: oklch(0.977 0.014 308.299);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.827 0.119 306.383);
	--chart-2: oklch(0.627 0.265 303.9);
	--chart-3: oklch(0.558 0.288 302.321);
	--chart-4: oklch(0.496 0.265 301.924);
	--chart-5: oklch(0.438 0.218 303.724);
	--radius: 0.625rem;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.558 0.288 302.321);
	--sidebar-primary-foreground: oklch(0.977 0.014 308.299);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: var(--text);
	font-family: 'Teko Variable', sans-serif;
	font-weight: 400;
	background: var(--bg-dark);
}

h1,
h2 {
	font-weight: 500;
}

p {
	font-size: 1.1rem;
	letter-spacing: 0.5px;
}

a {
	color: var(--text);
	text-decoration: underline;
}

img {
	user-select: none;
	pointer-events: none;
}

button,
input {
	font-family: 'Roboto Variable', sans-serif;
}

input {
	padding: 0.75em;
	border: none;
	color: var(--text);
	background: var(--bg-light);
	border: 1px solid var(--border);
	border-radius: var(--border-radius);
}

input::placeholder {
	color: rgba(239, 239, 241, 0.75);
}

input:focus {
	outline: none;
}

button {
	padding: 8px 12px;
	color: var(--text);
	font-size: 0.9em;
	font-weight: 600;
	background: var(--accent);
	border: none;
	border-radius: 50px;
}

button:hover {
	cursor: pointer;
	background: var(--accent-dark);
}

.hidden {
	display: none;
}

/* @layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
	html {
		@apply font-sans;
	}
} */
